.page-header {
    background-image: url("../images/aquatan_pan1.jpg");
    background-position: top;
}

.main {
    position: relative;
    z-index: 2;
}

.info .info-title {
    margin: 10px auto;
}

.info {
    margin: 20px auto;
}

.fa {
    text-align: center;
}

.or-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.or {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.contact-section .container {
    width: 50%;
}

.contact-section .info {
    position: relative;
    padding: 10px;
}

a.contact-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-indent: -9999px;
}

a.contact-link:hover {
    border: 1px solid #51cbce;
    border-radius: 10px;
}

.profile-content {
    padding-top: 0;
    position: relative;
    z-index: 2;
}

.profile-tab-item {
    text-align: center;
}

.profile-description {
    margin: 0px auto 20px auto;
}

.profile-links .btn i {
    font-size: 30px;
}

.flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.member-wrapper {
    margin-bottom: 20px;
}

.member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.member-description h3,
.member-description h6,
.product-name {
    margin: 0;
}

.footer-dark {
    background-color: #0b1011;
}

.achievements-date-title {
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}

.achievements-list {
    margin-left: 10%;
}

.contest-box {
    margin-bottom: 50px;
}

.product-name {
    font-size: 2.5em;
}

.product-name a {
    padding-left: 20px;
}

.product-links a {
    border-bottom: 1px solid #51cbce;
    line-height: 2em;
    margin-right: 20px;
}

.contest-result {
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    background: url("../images/logo/logo-blue.png") no-repeat right center;
    background-size: contain;
    width: 32px;
    margin: 0 10px;
}

.navbar-transparent .navbar-brand {
    background: url("../images/logo/logo-white.png") no-repeat right center;
    background-size: contain;
}

.navbar .navbar-brand span {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .contact-section .container {
        width: 100%;
    }

    .achievements-list {
        margin: 0;
    }
    .contest-thumb-box {
        padding: 20px;
    }
    .navbar-brand {
        padding-left: 16px;
    }
}